<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        <bean id="missedCallObject" class="com.bridgelabz.MissedCallAlert"></bean>
        <bean id="helloTuneObject" class="com.bridgelabz.HelloTuneService"></bean>
        <bean id="dataServiceObject" class="com.bridgelabz.DataService"></bean>

        <bean id ="services" class="com.bridgelabz.AirtelService">
        	<property name="service" ref="helloTuneObject">
         	</property>
        </bean>
        
</beans> 